@import "base/variables";
@import "components/nav";
@import "components/clock";

$space-large: 2.5rem;
$title-color: #556;

p {
  color: #777;
}

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom:$space-large;
}
